.App{
  padding: 1rem;
}

.dnd-wrap{
  display: flex;
  padding: 20px;
  border: 1px solid red;
}

.dnd-target{
  border: 1px solid palegreen;
  flex: 1;
  margin-left: 1rem;
}

.layout-wrap{
  display: flex;
}

.dashboard-wrap{
  flex: 1;
  background: #E5E5E5

}